<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Commit Telemetry Service</title>
</head>
<body>

<h1>Commit Telemetry Service</h1>

{% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
{% endfor %}

Repository: <a href="{{ repo }}" target="_blank" rel="noopener noreferrer">{{ repo }}</a>

<form action="" method="post">
    <label for="changesetid">mozilla-central changeset ID to check:</label>
    <input id="changesetid" type="text" name="changesetid">
    <input type="submit" value="Compute telemetry">
    <fieldset>
        <legend>Telemetry ping for changeset</legend>
        <output name="result">
            <pre><code>{{ ping_body }}</code></pre>
        </output>
    </fieldset>
</form>

</body>
</html>
